@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*menu button*/
.mobile-menu-button-base {
  @apply relative inline-flex items-center justify-center rounded-md p-2 text-gray-400;
}

.mobile-menu-button.light {
  @apply hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500;
}

.mobile-menu-button.dark {
  @apply hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white;
}

/*navbar container*/
.navbar-container.light {
  @apply bg-white shadow;
}

.navbar-container.dark {
  @apply bg-gray-800;
}

/*nav link*/
.nav-link.light {
  @apply text-gray-500 hover:border-gray-300 hover:text-gray-700;
}

.nav-link.dark {
  @apply text-gray-300 hover:bg-gray-700 hover:text-white;
}

.nav-link.dark.is-active {
  @apply bg-gray-900 text-white;
}
.nav-link.light.is-active {
  @apply border-indigo-500 text-gray-900;
}
.nav-link-base.dark {
  @apply  px-3 text-sm font-medium inline-flex items-center;
}

.nav-link-base.light {
  @apply inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium;
}

/*mobile nav link*/
.nav-link.dark.is-active.is-mobile {
  @apply bg-gray-900 text-white;
}
.nav-link.light.is-active.is-mobile {
  @apply border-indigo-500 text-gray-900;
}
.nav-link-base.dark.is-mobile {
  @apply rounded-md px-3 py-2 text-sm font-medium;
}

.nav-link-base.light.is-mobile {
  @apply inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium;
}

/*profile menu*/
.profile-menu-item, .btn-secondary-base {
  @apply block px-4 py-2 text-sm text-gray-700 data-[focus]:bg-gray-100
}

.profile-menu-button.dark {
  @apply bg-gray-800 focus:ring-white focus:ring-offset-gray-800
}

.profile-menu-button.light {
  @apply bg-white focus:ring-indigo-500
}

.profile-menu-button-base {
  @apply relative flex rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-offset-2
}

/*mobile nav link*/
.mobile-nav-link.light.is-active {
  @apply  border-indigo-500 bg-indigo-50 py-2 pl-3 pr-4 text-base font-medium text-indigo-700
}

.mobile-nav-link.dark.is-active {
  @apply bg-gray-900 text-white
}

.mobile-nav-link.light {
  @apply border-transparent text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700 
}

.mobile-nav-link.dark {
  @apply text-gray-300 hover:bg-gray-700 hover:text-white
}

.mobile-nav-link-base.dark {
  @apply block px-3 py-2 text-base font-medium
}

.mobile-nav-link-base.light {
  @apply block border-l-4 py-2 pl-3 pr-4 text-base font-medium sm:pl-5 sm:pr-6
}

/*user info*/
.user-info-container.light {
  @apply border-gray-200;
}

.user-info-container.dark {
  @apply border-gray-700;
}

.user-info-container-base {
  @apply border-t pb-3 pt-4
}

.user-name.light {
  @apply text-base font-medium text-gray-800;
}

.user-email.light {
  @apply text-sm font-medium text-gray-500;
}

.user-email-base.dark {
  @apply text-sm font-medium ;
}

.user-name-base.dark {
  @apply text-base font-medium;
}

/*profile mobile button*/
.profile-mobile-button.light {
  @apply text-gray-500 hover:bg-gray-100 hover:text-gray-800 sm:px-6
}

.profile-mobile-button.dark {
  @apply text-gray-400 hover:bg-gray-700 hover:text-white
}

.profile-mobile-button-base {
  @apply block px-3 py-2 text-base font-medium
}

/*button*/
.btn-primary-base {
  @apply relative inline-flex items-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
}

.btn-primary.light {
  @apply bg-indigo-600 hover:bg-indigo-500 focus-visible:outline-indigo-600;
}

.btn-primary.dark {
  @apply bg-indigo-500 hover:bg-indigo-400 focus-visible:outline-indigo-500;
}

/*modal container*/
.modal-container-base {
  @apply relative transform overflow-hidden rounded-lg px-4 pb-4 pt-5 text-left shadow-xl transition-all data-[closed]:translate-y-4 data-[closed]:opacity-0 data-[enter]:duration-300 data-[leave]:duration-200 data-[enter]:ease-out data-[leave]:ease-in sm:my-8 sm:w-full sm:max-w-custom-modal sm:p-6 data-[closed]:sm:translate-y-0 data-[closed]:sm:scale-95
}

.modal-container.light {
  @apply bg-white;
}

.modal-container.dark {
  @apply bg-gray-800;
}

.text-modal-title.light {
  @apply text-gray-900;
}

.text-modal-title.dark {
  @apply text-gray-100;
}

.text-modal-description.light {
  @apply text-gray-500;
}

.text-modal-description.dark {
  @apply text-gray-300;
}

.background.light {
  @apply bg-white;
}

.background.dark {
  @apply bg-gray-800;
}

.background-border.light {
  @apply border-gray-200;
}

.background-border.dark {
  @apply border-gray-700;
}

.normal-text.light {
  @apply text-gray-600;
}

.normal-text.dark {
  @apply text-gray-400;
}

.background-page.light {
  @apply bg-gray-200;
}

.background-page.dark {
  @apply bg-gray-900;
}

.text-title.light {
  @apply text-gray-900;
}

.text-title.dark {
  @apply text-gray-100;
}

.btn-no-fill.light {
  @apply text-gray-400 ring-gray-300 hover:bg-gray-50;
}

.btn-no-fill.dark {
  @apply text-gray-300 ring-gray-700 hover:bg-gray-700;
}

.btn-with-border.light {
  @apply text-gray-700 hover:bg-gray-50 border-gray-300 bg-white ring-gray-300;
}

.btn-with-border.dark {
  @apply text-gray-300 hover:bg-gray-700 border-gray-700 bg-gray-800 ring-gray-600 ;
}

.text-input.light {
  @apply text-gray-700 bg-gray-100 focus:ring-gray-300;
}

.text-input.dark {
  @apply text-gray-300 bg-gray-800 focus:ring-gray-600;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
